@import 'bootstrap-3.1.1.scss';
// @import 'bootflat.scss';
// @import 'bootflatcss.scss';

body {
  // @extend .container; //?
  font-size: 12px;

// pick your poison
// font-family: "Lucida Console", Monaco, monospace;
// font-family: "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace
// font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel1 {
  @extend .panel;
  @extend .panel-default;
  header {
    @extend .panel-heading;
    padding-right: 5px;
    a { // @.panel-default > .panel-heading
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
    }
  }
  // header.draggable { cursor: move; } // not yet
}

.table2, .table1 {
  @extend .table;
  @extend .table-condensed;
  background: white; //?
  margin-bottom: 0px;

  .center  { text-align: center; }
  .digital { text-align: right;
    sup {
      font-size: 100%;
    }
  }

  span.collapse.in {
    display: inline;
  }
  tr.collapse.in {
    display: table-row;
  }
}
.table2 {
  @extend .table-hover;
}

// .stripe-table > tbody > tr:nth-child(odd) > th,
   .stripe-table > tbody > tr:nth-child(even) > td {
  background-color: #f9f9f9;
}

.nobr { white-space: inline; } // used to be pre
//? .nobrinline { white-space: nowrap; display: inline; }

.allcode {
  @extend code;
  white-space: normal; // pre; // nowrap;

  color: black;
  background-color: #f4f4f4;
}
.code {
  @extend .allcode;
  display: inline;
}
.codenobr {
  @extend .code;
  white-space: nowrap;
}
.inlinecode {
  @extend .code;
  padding: 0px 0px;
}

.cell-right {
    @extend .text-right;
    padding-right: 0px;
}

.btn-xx {
    @extend .btn-xs;
    padding: 0px 5px; // xs: 1px 5 px
    // border: 1px solid;
    // line-height: 1.5
}

.btn-group.notall {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.LINKSnav {
    @extend .nav;
    li > a {
	padding: 0px 0px;
	display: inline;
    }
}

.unit {
//@extend code;
//font-size: 100%;
//padding: 0px 0px;

//display: inline;
//white-space: normal;

  color: black;
  background-color: #f4f4f4;
}

table thead th { font-weight: normal; }
table .bold    { font-weight: bold;   }

table thead tr .header a {
  color: black;
  &:hover {
    // @extend a; @extend a:hover;
    color: #428bca;
    text-decoration: none;
  }
  &.state.current {
    font-weight: bold;
  }
}

// .badge-default { @extend .badge; background:
.badge-primary { @extend .badge; background: #428bca; }
.badge-success { @extend .badge; background: #5cb85c; }
.badge-info    { @extend .badge; background: #5bc0de; }
.badge-warning { @extend .badge; background: #f0ad4e; }
.badge-danger  { @extend .badge; background: #d9534f; }
