// -*- eval: (rainbow-mode) -*-

@charset 'utf-8';

@import 'settings'; // foundation settings

// foundation imports and includes sans:
// - @import 'motion-ui';
// - @include motion-ui-transitions;
// - @include motion-ui-animations;
@import 'foundation';

// NOT foundation-grid
@include foundation-flex-grid;

@include foundation-global-styles;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
// END OF foundation imports and includes

.menu-tab-padding > a { padding: $menu-item-padding; }
// $tab-item-padding is 1.25rem 1.5rem, $menu-item-padding is 0.7rem 1rem

// explicit {margin,padding}
.margin-0        { margin: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.padding-top-056 { padding-top: 0.5625rem; }

$menu-hpadding: 0.7rem; // $menu-item-padding is 0.7rem 1rem;
.menu > li > div { padding-left: $menu-hpadding; padding-right: $menu-hpadding; }
.h5 { @extend h5; }

.input-group-label.label { display: table-cell; }
.menu-text .button { font-weight: normal; }

.tabs-border { border: 0; }
.tabs-border.bar-less { border-top: 1px solid transparent; }
.tabs-border, .hr-border-top { border-top: $hr-border; }
.tabs.bar-less .bar { @extend .hide; }

table.scroll-x {
  display: block;
  overflow-x: auto;
}

table.hover .mutext { color: $medium-gray; }
table.hover tr:hover .mutext { color: $dark-gray; }

.text-nowrap { white-space: nowrap; } // from bootstrap as is

/* from bootstrap: caret, drop{down,up} */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropup .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
/* end of caret, drop{down,up} */

.bg-light-gray { background-color: $light-gray; }
// .bg-secondary { background-color: smart-scale($secondary-color, -80%); } // #E4E4E4
.bg-primary    { background-color: smart-scale($primary-color,   -80%); } // #D3EBFA
.bg-success    { background-color: smart-scale($success-color,   -80%); } // #D8F8E4
.bg-warning    { background-color: smart-scale($warning-color,   -80%); } // #FFEFCC
.bg-alert      { background-color: smart-scale($alert-color,     -80%); } // #FBDED9

.bg-usepct[data-usepct="0"],
.bg-usepct[data-usepct="1"],
.bg-usepct[data-usepct="2"],
.bg-usepct[data-usepct="3"],
.bg-usepct[data-usepct="4"],
.bg-usepct[data-usepct="5"],
.bg-usepct[data-usepct="6"],
.bg-usepct[data-usepct="7"],
.bg-usepct[data-usepct="8"],
.bg-usepct[data-usepct="9"],
.bg-usepct[data-usepct^="1"]:not([data-usepct="100"]) { @extend .bg-success; }

.bg-usepct[data-usepct^="2"]:not([data-usepct="2"]),
.bg-usepct[data-usepct^="3"]:not([data-usepct="3"]),
.bg-usepct[data-usepct^="4"]:not([data-usepct="4"]),
.bg-usepct[data-usepct^="5"]:not([data-usepct="5"]),
.bg-usepct[data-usepct^="6"]:not([data-usepct="6"]),
.bg-usepct[data-usepct^="7"]:not([data-usepct="7"]) { @extend .bg-primary; }

.bg-usepct[data-usepct^="8"]:not([data-usepct="8"]) { @extend .bg-warning; }
.bg-usepct[data-usepct^="9"]:not([data-usepct="9"]),
.bg-usepct[data-usepct="100"] { @extend .bg-alert; }

.bg-usepct-inverse[data-usepct="0"],
.bg-usepct-inverse[data-usepct="1"],
.bg-usepct-inverse[data-usepct="2"],
.bg-usepct-inverse[data-usepct="3"],
.bg-usepct-inverse[data-usepct="4"],
.bg-usepct-inverse[data-usepct="5"],
.bg-usepct-inverse[data-usepct="6"],
.bg-usepct-inverse[data-usepct="7"],
.bg-usepct-inverse[data-usepct="8"],
.bg-usepct-inverse[data-usepct="9"] { @extend .bg-alert; }
.bg-usepct-inverse[data-usepct^="1"]:not([data-usepct="1"]):not([data-usepct="100"]) { @extend .bg-warning; }

.bg-usepct-inverse[data-usepct^="2"]:not([data-usepct="2"]),
.bg-usepct-inverse[data-usepct^="3"]:not([data-usepct="3"]),
.bg-usepct-inverse[data-usepct^="4"]:not([data-usepct="4"]),
.bg-usepct-inverse[data-usepct^="5"]:not([data-usepct="5"]),
.bg-usepct-inverse[data-usepct^="6"]:not([data-usepct="6"]),
.bg-usepct-inverse[data-usepct^="7"]:not([data-usepct="7"]),
.bg-usepct-inverse[data-usepct^="8"]:not([data-usepct="8"]) { @extend .bg-primary; }
.bg-usepct-inverse[data-usepct^="9"]:not([data-usepct="9"]),
.bg-usepct-inverse[data-usepct="100"] { @extend .bg-success; }
