// -*- eval: (rainbow-mode) -*-

@charset 'utf-8';

@import 'settings'; // foundation settings

// foundation imports and includes sans:
// - @import 'motion-ui';
// - @include motion-ui-transitions;
// - @include motion-ui-animations;
@import 'foundation';

// NOT foundation-grid
// NOT foundation-flex-grid either
// @include foundation-flex-grid;

@include foundation-global-styles;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
// END OF foundation imports and includes

// foundation-apps imports:
@import "helpers/functions"; // dependency for grid
@import "components/grid"; // foundation-apps-grid (flex)

// explicit {margin,padding}
.margin-0        { margin: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.padding-top-056 { padding-top: 0.5625rem; }

$menu-hpadding: 0.7rem; // $menu-item-padding is 0.7rem 1rem;
.menu > li > div { padding-left: $menu-hpadding; padding-right: $menu-hpadding; }

@each $size in ('small', 'medium') {
  @include breakpoint($size) { // the h3 size (31)
    h1.h3 { font-size: rem-calc(map-get(map-get($header-sizes, 'medium'), 'h3')); }
  }
  @include breakpoint('medium') { // the h4 size (25) // 1.5625rem
    h2.h4 { font-size: rem-calc(map-get(map-get($header-sizes, 'medium'), 'h4')); }
  }
}

.h3, h4, .hx-bottom {
  padding-bottom: 0.3em;
  border-bottom: 1px solid $light-gray;
}

.inherit-color { color: inherit; }

.stripe >.grid-block {
  &.thead  {
    & { font-weight: bold; } // background-color: $table-head-background;
  }
  &:not(.thead) {
 // &:nth-of-type(odd)       { background-color: $table-striped-background; }
    &:hover                  { background-color: $table-row-hover;          }
    &:nth-of-type(odd):hover { background-color: $table-row-stripe-hover;   }
    /*
    .col {
      padding: $table-padding;
      // &:hover { background-color: #88f; }
    }
    */
  }

  &:hover .mutext { color: $dark-gray; }
  .mutext         { color: $medium-gray; }
}

.grid-block {
  .col {
    padding: $table-padding;
    // &:hover { background-color: #88f; }
  }
  .col-tb { padding-top:  0.5rem;   padding-bottom: 0.625rem; }
  .col-lr { padding-left: 0.625rem; padding-right: 0.625rem; }
  .col.sparkline {
    // $table-padding but not for top or bottom
    padding-top:    0;
    padding-bottom: 0;
    padding-left:   0.625rem;
    padding-right:  0.625rem;
  }
}

.align-self-flex-end { align-self: flex-end; } // e.g. bottom

.display-block { display: block; }

.input-group-label.small { font-size: 0.9rem; }
.menu-text .button { font-weight: normal; }

.hide-showhide .showhide-show { @extend .hide; }
.show-showhide .showhide-hide { @extend .hide; }

// e.g. span.col.sparkline.expand
.expand { flex: 1 1 0px; }

.full { width: 100%; }
.height-1rem  { height: 1rem; }

.text-nowrap { white-space: nowrap; } // from bootstrap as is
.text-overflow {
  @extend .text-nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* from bootstrap: caret, drop{down,up} */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropup .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
/* end of caret, drop{down,up} */

.bg-light-gray { background-color: $light-gray; }
// .bg-secondary { background-color: smart-scale($secondary-color, -80%); } // #E4E4E4
.bg-primary    { background-color: smart-scale($primary-color,   -80%); } // #D3EBFA
.bg-success    { background-color: smart-scale($success-color,   -80%); } // #D8F8E4
.bg-warning    { background-color: smart-scale($warning-color,   -80%); } // #FFEFCC
.bg-alert      { background-color: smart-scale($alert-color,     -80%); } // #FBDED9

.bg-usepct[data-usepct="0"],
.bg-usepct[data-usepct="1"],
.bg-usepct[data-usepct="2"],
.bg-usepct[data-usepct="3"],
.bg-usepct[data-usepct="4"],
.bg-usepct[data-usepct="5"],
.bg-usepct[data-usepct="6"],
.bg-usepct[data-usepct="7"],
.bg-usepct[data-usepct="8"],
.bg-usepct[data-usepct="9"],
.bg-usepct[data-usepct^="1"]:not([data-usepct="100"]) { @extend .bg-success; }

.bg-usepct[data-usepct^="2"]:not([data-usepct="2"]),
.bg-usepct[data-usepct^="3"]:not([data-usepct="3"]),
.bg-usepct[data-usepct^="4"]:not([data-usepct="4"]),
.bg-usepct[data-usepct^="5"]:not([data-usepct="5"]),
.bg-usepct[data-usepct^="6"]:not([data-usepct="6"]),
.bg-usepct[data-usepct^="7"]:not([data-usepct="7"]) { @extend .bg-primary; }

.bg-usepct[data-usepct^="8"]:not([data-usepct="8"]) { @extend .bg-warning; }
.bg-usepct[data-usepct^="9"]:not([data-usepct="9"]),
.bg-usepct[data-usepct="100"] { @extend .bg-alert; }

.bg-usepct-inverse[data-usepct="0"],
.bg-usepct-inverse[data-usepct="1"],
.bg-usepct-inverse[data-usepct="2"],
.bg-usepct-inverse[data-usepct="3"],
.bg-usepct-inverse[data-usepct="4"],
.bg-usepct-inverse[data-usepct="5"],
.bg-usepct-inverse[data-usepct="6"],
.bg-usepct-inverse[data-usepct="7"],
.bg-usepct-inverse[data-usepct="8"],
.bg-usepct-inverse[data-usepct="9"] { @extend .bg-alert; }
.bg-usepct-inverse[data-usepct^="1"]:not([data-usepct="1"]):not([data-usepct="100"]) { @extend .bg-warning; }

.bg-usepct-inverse[data-usepct^="2"]:not([data-usepct="2"]),
.bg-usepct-inverse[data-usepct^="3"]:not([data-usepct="3"]),
.bg-usepct-inverse[data-usepct^="4"]:not([data-usepct="4"]),
.bg-usepct-inverse[data-usepct^="5"]:not([data-usepct="5"]),
.bg-usepct-inverse[data-usepct^="6"]:not([data-usepct="6"]),
.bg-usepct-inverse[data-usepct^="7"]:not([data-usepct="7"]),
.bg-usepct-inverse[data-usepct^="8"]:not([data-usepct="8"]) { @extend .bg-primary; }
.bg-usepct-inverse[data-usepct^="9"]:not([data-usepct="9"]),
.bg-usepct-inverse[data-usepct="100"] { @extend .bg-success; }
