// -*- eval: (rainbow-mode) -*-

@import 'vendor/bootstrap-3.3.5/less/bootstrap.less';
@import 'vendor/bootstrap-3.3.5/less/theme.less';

@navbar-height: 34px;

.config-margintop { margin-top: (@line-height-computed / 2); }

.padding-leftless { padding-left: 0; }

.navbar-text-marginless:not(:last-child) { margin-right: 0; }
.navbar-text-marginless:not(.first-text) { margin-left:  0; }

.navbar-codeline { // pre/code mix & line-height not to heighten the navbar
  line-height: 1;
  white-space: pre;
  color: @pre-color;
  background-color: @pre-bg;
}

.unit { // pre colors
  color: @pre-color;
  background-color: @pre-bg;
}

.clip {
  cursor: pointer;
  margin-bottom: 0px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.collapse-checkbox:checked + .clip {
  text-decoration: overline;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow-x: visible;
}

.hidden-submit     { display: none; }
.collapse-hidden   { display: none; }
.collapse-collapse { display: none; }
.collapse-checkbox { display: none; }
.collapse-checkbox:checked ~     .collapse-collapse,
.collapse-checkbox:checked ~ div .collapse-collapse {
  display: block;
}

.nowrap { white-space: nowrap; }

table thead th { font-weight: normal; }
table .bold    { font-weight: bold;   }

table thead tr .header a {
  color: black;
  &:hover {
    // &:extend(a); &:extend(a:hover);
    color: @link-color;
    text-decoration: none;
  }
  &.state.current {
    white-space: nowrap;
    font-weight: bold;
    // https://stackoverflow.com/q/8376795
    vertical-align: middle; // this DOES NOT make the line 1px higher
  }
}

.form-inline .input-group > .form-control.width-fourem { width: 4em; } // refresh input

.label[data-usepercent="0"],
.label[data-usepercent="1"],
.label[data-usepercent="2"],
.label[data-usepercent="3"],
.label[data-usepercent="4"],
.label[data-usepercent="5"],
.label[data-usepercent="6"],
.label[data-usepercent="7"],
.label[data-usepercent="8"],
.label[data-usepercent="9"],
.label[data-usepercent^="1"]:not([data-usepercent="100"]) { &:extend(.label-success); }

.label[data-usepercent^="2"]:not([data-usepercent="2"]),
.label[data-usepercent^="3"]:not([data-usepercent="3"]),
.label[data-usepercent^="4"]:not([data-usepercent="4"]),
.label[data-usepercent^="5"]:not([data-usepercent="5"]),
.label[data-usepercent^="6"]:not([data-usepercent="6"]),
.label[data-usepercent^="7"]:not([data-usepercent="7"]) { &:extend(.label-info); }

.label[data-usepercent^="8"]:not([data-usepercent="8"]) { &:extend(.label-warning); }
.label[data-usepercent^="9"]:not([data-usepercent="9"]),
.label[data-usepercent="100"] { &:extend(.label-danger); }

.usepercent-text[data-usepercent="0"],
.usepercent-text[data-usepercent="1"],
.usepercent-text[data-usepercent="2"],
.usepercent-text[data-usepercent="3"],
.usepercent-text[data-usepercent="4"],
.usepercent-text[data-usepercent="5"],
.usepercent-text[data-usepercent="6"],
.usepercent-text[data-usepercent="7"],
.usepercent-text[data-usepercent="8"],
.usepercent-text[data-usepercent="9"],
.usepercent-text[data-usepercent^="1"]:not([data-usepercent="100"]) { &:extend(.text-success); }

.usepercent-text[data-usepercent^="2"]:not([data-usepercent="2"]),
.usepercent-text[data-usepercent^="3"]:not([data-usepercent="3"]),
.usepercent-text[data-usepercent^="4"]:not([data-usepercent="4"]),
.usepercent-text[data-usepercent^="5"]:not([data-usepercent="5"]),
.usepercent-text[data-usepercent^="6"]:not([data-usepercent="6"]),
.usepercent-text[data-usepercent^="7"]:not([data-usepercent="7"]) { &:extend(.text-info); }

.usepercent-text[data-usepercent^="8"]:not([data-usepercent="8"]) { &:extend(.text-warning); }
.usepercent-text[data-usepercent^="9"]:not([data-usepercent="9"]),
.usepercent-text[data-usepercent="100"] { &:extend(.text-danger); }

.usepercent-text-inverse[data-usepercent="0"],
.usepercent-text-inverse[data-usepercent="1"],
.usepercent-text-inverse[data-usepercent="2"],
.usepercent-text-inverse[data-usepercent="3"],
.usepercent-text-inverse[data-usepercent="4"],
.usepercent-text-inverse[data-usepercent="5"],
.usepercent-text-inverse[data-usepercent="6"],
.usepercent-text-inverse[data-usepercent="7"],
.usepercent-text-inverse[data-usepercent="8"],
.usepercent-text-inverse[data-usepercent="9"] { &:extend(.text-danger); }
.usepercent-text-inverse[data-usepercent^="1"]:not([data-usepercent="1"]):not([data-usepercent="100"]) { &:extend(.text-warning); }

.usepercent-text-inverse[data-usepercent^="2"]:not([data-usepercent="2"]),
.usepercent-text-inverse[data-usepercent^="3"]:not([data-usepercent="3"]),
.usepercent-text-inverse[data-usepercent^="4"]:not([data-usepercent="4"]),
.usepercent-text-inverse[data-usepercent^="5"]:not([data-usepercent="5"]),
.usepercent-text-inverse[data-usepercent^="6"]:not([data-usepercent="6"]),
.usepercent-text-inverse[data-usepercent^="7"]:not([data-usepercent="7"]),
.usepercent-text-inverse[data-usepercent^="8"]:not([data-usepercent="8"]) { &:extend(.text-info); }
.usepercent-text-inverse[data-usepercent^="9"]:not([data-usepercent="9"]),
.usepercent-text-inverse[data-usepercent="100"] { &:extend(.text-success); }
