<!DOCTYPE html
>{{$v := .OstentVersion}}<html
  ><head
    ><meta charset="utf-8"
    ><title
      >{{.Data.HN}} ostent</title
    ><meta http-equiv="X-UA-Compatible" content="IE=edge"
    ><meta name="viewport" content="width=device-width, initial-scale=1"
    >{{HTML "<!"}}--[if IE]><link rel="shortcut icon" href="/favicon.ico"
    >{{HTML "<!"}}[endif]--><link rel="icon" sizes="32x32" href="/{{$v}}/favicons/favicon-32.png" type="image/png"
    ><link rel="apple-touch-icon" sizes="120x120" href="/{{$v}}/favicons/favicon-120.png"
    ><link rel="apple-touch-icon" sizes="144x144" href="/{{$v}}/favicons/favicon-144.png"
    ><link rel="apple-touch-icon" sizes="152x152" href="/{{$v}}/favicons/favicon-152.png"
    ><link rel="apple-touch-icon" sizes="180x180" href="/{{$v}}/favicons/favicon-180.png"
    ><link rel="stylesheet" type="text/css" href="/{{$v}}/css/index.css"
    ><script type="text/javascript" charset="utf-8" src="/{{$v}}/js/requirejs/2.1.20/require.min.js" data-main="/{{$v}}/js/{{if .TAGGEDbin}}min/index.min.js{{else}}src/index.js{{end}}"
      ></script
    ></head
  ><body
    ><nav class="navbar navbar-default navbar-static-top" role="navigation"
      ><div class="container-fluid"
        ><div class="navbar-header col-md-1 padding-leftless"
          ><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            ><span class="sr-only"
              >Toggle navigation</span
            ><span class="icon-bar"
              ></span
            ><span class="icon-bar"
              ></span
            ><span class="icon-bar"
              ></span
            ></button
          ><span class="updates" data-define="define_linkbrand"
            >{{template "defines::define_linkbrand" .}}</span
          ></div
        ><div id="navbar-collapse" class="collapse navbar-collapse"
          ><ul class="nav navbar-nav"
            ><li class="active"
              ><a href="https://www.ostrost.com/ostent/releases/latest?cmp={{$v}}"
                >ostent</a
              ></li
            ><li class="navbar-text navbar-text-marginless first-text"
              ><code class="navbar-codeline"
                >os {{.Distrib}}</code
              ></li
            ><li class="navbar-text navbar-text-marginless"
              ><code class="navbar-codeline"
                >up&nbsp;<span class="updates" data-define="define_spanup"
                  >{{template "defines::define_spanup" .}}</span
                ></code
              ></li
            ><li class="navbar-text navbar-text-marginless"
              ><code class="navbar-codeline"
                >la&nbsp;<span class="updates" data-define="define_spanla"
                  >{{template "defines::define_spanla" .}}</span
                ></code
              ></li
            ></ul
          ></div
        ></div
      ></nav
    ><div class="container-fluid"
      ><div class="row"
        ><div class="col-md-4 col-md-offset-1 updates" data-define="define_panelmem"
          >{{template "defines::define_panelmem" .}}</div
        ><div class="col-md-6 updates" data-define="define_paneldf"
          >{{template "defines::define_paneldf" .}}</div
        ></div
      ><div class="row"
        ><div class="col-md-4 col-md-offset-1 updates" data-define="define_panelcpu"
          >{{template "defines::define_panelcpu" .}}</div
        ><div class="col-md-6 updates" data-define="define_panelif"
          >{{template "defines::define_panelif" .}}</div
        ></div
      ><div class="row"
        ><div class="col-md-10 col-md-offset-1 updates" data-define="define_panelps"
          >{{template "defines::define_panelps" .}}</div
        ></div
      ></div
    ><script type="text/javascript"
      >var Data = {{.Data}};</script
    ></body
  ></html
>{{/*
*/}}{{define "defines::alink_badgeleft"}}<a href={{.Href}} {{class}}={{.Class}} onClick={this.handleClick}  
  >{{.Badge}} {{.Text}}</a
>{{end}}{{/*
*/}}{{define "defines::alink_badgeright"}}<a href={{.Href}} {{class}}={{.Class}} onClick={this.handleClick}  
  >{{.Text}} {{.Badge}}</a
>{{end}}{{/*
*/}}{{define "defines::define_linkbrand"}}<a {{class}}="navbar-brand clip12" href="/"   {{TitlePrefixed "hostname " .Data.HN}}
  >{{.Data.HN}}</a
>{{end}}{{/*
*/}}{{define "defines::define_panelcpu"}}{{$p := .Data.Params}}<div {{ClassPositive $p.CPUn "" "panel panel-default"}}
  ><div class="h4 padding-left-like-panel-heading"
    ><a {{HrefT $p $p.CPUn}}
      >CPU</a
    ></div
  ><ul  {{ClassPositive $p.CPUn "hidden" "list-group"}}
    ><li class="list-group-item text-nowrap th"
      ><ul class="list-inline"
        ><li
          ><span
            ><b
              >Delay</b
            > <span class="badge"
              >{{$p.CPUd}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessD $p $p.CPUd "btn btn-default"}}{{template "defines::alink_badgeright" MoreD $p $p.CPUd "btn btn-default"}}</div
          ></li
        ><li
          ><span
            ><b
              >Rows</b
            > <span class="badge"
              >{{$p.CPUn.Absolute}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessN $p $p.CPUn "btn btn-default"}}{{template "defines::alink_badgeright" MoreN $p $p.CPUn "btn btn-default"}}</div
          ></li
        ></ul
      ></li
    ></ul
  ><table {{ClassNonZero $p.CPUn "table table-hover" "hidden"}}
    ><thead
      ><tr
        ><th
          ></th
        ><th class="text-right"
          >User</th
        ><th class="text-right"
          >Sys</th
        ><th class="text-right"
          >Wait</th
        ><th class="text-right"
          >Idle</th
        ></tr
      ></thead
    ><tbody
      >{{if .Data.CPU}}{{range $cpu := .Data.CPU.List}}{{jsx `{this.List(Data).map(function($cpu) { return`}}<tr {{Key "cpu-rowby-N" $cpu.N}}
        ><td class="text-right text-nowrap"
          >{{$cpu.N}}</td
        ><td {{class}}="text-right bg-usepct"
  data-usepct={{$cpu.UserPct}}
          >{{$cpu.UserPct}}%</td
        ><td {{class}}="text-right bg-usepct"
  data-usepct={{$cpu.SysPct}}
          >{{$cpu.SysPct}}%</td
        ><td {{class}}="text-right bg-usepct"
  data-usepct={{$cpu.WaitPct}}
          >{{$cpu.WaitPct}}%</td
        ><td {{class}}="text-right bg-usepct-inverse"
  data-usepct={{$cpu.IdlePct}}
          >{{$cpu.IdlePct}}%</td
        ></tr
      >{{jsx `})}`}}{{end}}{{end}}</tbody
    ></table
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_paneldf"}}{{$p := .Data.Params}}<div {{ClassPositive $p.Dfn "" "panel panel-default"}}
  ><div class="h4 padding-left-like-panel-heading"
    ><a {{HrefT $p $p.Dfn}}
      >Disk usage</a
    ></div
  ><ul  {{ClassPositive $p.Dfn "hidden" "list-group"}}
    ><li class="list-group-item text-nowrap th"
      ><ul class="list-inline"
        ><li
          ><span
            ><b
              >Delay</b
            > <span class="badge"
              >{{$p.Dfd}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessD $p $p.Dfd "btn btn-default"}}{{template "defines::alink_badgeright" MoreD $p $p.Dfd "btn btn-default"}}</div
          ></li
        ><li
          ><span
            ><b
              >Rows</b
            > <span class="badge"
              >{{$p.Dfn.Absolute}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessN $p $p.Dfn "btn btn-default"}}{{template "defines::alink_badgeright" MoreN $p $p.Dfn "btn btn-default"}}</div
          ></li
        ></ul
      ></li
    ></ul
  ><table {{ClassNonZero $p.Dfn "table table-hover" "hidden"}}
    ><thead
      ><tr class="text-nowrap"
        >{{$r := "text-right"}}{{template "defines::thvlink" Vlink $p $p.Dfk 1 "Device" ""}}{{template "defines::thvlink" Vlink $p $p.Dfk 2 "Mounted" ""}}{{template "defines::thvlink" Vlink $p $p.Dfk 3 "Avail" $r}}{{template "defines::thvlink" Vlink $p $p.Dfk 4 "Use%" $r}}{{template "defines::thvlink" Vlink $p $p.Dfk 5 "Used" $r}}{{template "defines::thvlink" Vlink $p $p.Dfk 6 "Total" $r}}</tr
      ></thead
    ><tbody
      >{{if .Data.DF}}{{range $df := .Data.DF.List}}{{jsx `{this.List(Data).map(function($df) { return`}}<tr {{Key "df-rowby-dirname" $df.DirName}}
        >  <td {{class}}="text-nowrap clip12" title={{$df.DevName}}
          >{{$df.DevName}}</td
        >  <td {{class}}="text-nowrap clip12" title={{$df.DirName}}
          >{{$df.DirName}}</td
        ><td class="text-right text-nowrap"
          ><span class="mutext" title="Inodes free"
            >{{$df.Ifree}}</span
          > {{$df.Avail}}</td
        ><td {{class}}="text-right bg-usepct text-nowrap"data-usepct={{$df.UsePct}}
          ><span class="mutext" title="Inodes use%"
            >{{$df.IusePct}}%</span
          > {{$df.UsePct}}%</td
        ><td class="text-right text-nowrap"
          ><span class="mutext" title="Inodes used"
            >{{$df.Iused}}</span
          > {{$df.Used}}</td
        ><td class="text-right text-nowrap"
          ><span class="mutext" title="Inodes total"
            >{{$df.Inodes}}</span
          > {{$df.Total}}</td
        ></tr
      >{{jsx `})}`}}{{end}}{{end}}</tbody
    ></table
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelif"}}{{$p := .Data.Params}}<div {{ClassPositive $p.Ifn "" "panel panel-default"}}
  ><div class="h4 padding-left-like-panel-heading"
    ><a {{HrefT $p $p.Ifn}}
      >Interfaces</a
    ></div
  ><ul  {{ClassPositive $p.Ifn "hidden" "list-group"}}
    ><li class="list-group-item text-nowrap th"
      ><ul class="list-inline"
        ><li
          ><span
            ><b
              >Delay</b
            > <span class="badge"
              >{{$p.Ifd}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessD $p $p.Ifd "btn btn-default"}}{{template "defines::alink_badgeright" MoreD $p $p.Ifd "btn btn-default"}}</div
          ></li
        ><li
          ><span
            ><b
              >Rows</b
            > <span class="badge"
              >{{$p.Ifn.Absolute}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessN $p $p.Ifn "btn btn-default"}}{{template "defines::alink_badgeright" MoreN $p $p.Ifn "btn btn-default"}}</div
          ></li
        ></ul
      ></li
    ></ul
  ><table {{ClassNonZero $p.Ifn "table table-hover" "hidden"}}
    ><thead
      ><tr
        ><th
          >Interface</th
        ><th class="text-right"
          >IP</th
        ><th class="text-right text-nowrap col-md-3" title="Bits In/Out per second"
          >IO <i
            >b</i
          >ps</th
        ><th class="text-right text-nowrap col-md-3" title="Packets In/Out per second"
          >Packets IO ps</th
        ><th class="text-right text-nowrap col-md-3" title="Drops,Errors In/Out per second"
          >Loss IO ps</th
        ></tr
      ></thead
    ><tbody
      >{{if .Data.IF}}{{range $if := .Data.IF.List}}{{jsx `{this.List(Data).map(function($if) { return`}}<tr {{Key "if-rowby-name" $if.Name}}
        ><td {{class}}="text-nowrap clip12" title={{$if.Name}}
          >{{$if.Name}}</td
        ><td class="text-right"
          >{{$if.IP}}</td
        ><td class="text-right text-nowrap"
          ><span class="mutext"
            ><span title="Total BYTES In modulo 4G"
              >{{$if.BytesIn}}</span
            >/<span title="Total BYTES Out modulo 4G"
              >{{$if.BytesOut}}</span
            ></span
          > <span title="BITS In per second"
            >{{$if.DeltaBitsIn}}</span
          >/<span title="BITS Out per second"
            >{{$if.DeltaBitsOut}}</span
          ></td
        ><td class="text-right text-nowrap"
          ><span class="mutext"
            ><span title="Total packets In modulo 4G"
              >{{$if.PacketsIn}}</span
            >/<span title="Total packets Out modulo 4G"
              >{{$if.PacketsOut}}</span
            ></span
          > <span title="Packets In per second"
            >{{$if.DeltaPacketsIn}}</span
          >/<span title="Packets Out per second"
            >{{$if.DeltaPacketsOut}}</span
          ></td
        ><td class="text-right text-nowrap"
          ><span class="mutext" title="Total drops,errors modulo 4G"
            ><span title="Total drops In modulo 4G"
              >{{$if.DropsIn}}</span
            ><span {{ClassNonNil $if.DropsOut "" "hidden"}}
              >/</span
            ><span {{ClassNonNil $if.DropsOut "" "hidden"}} title="Total drops Out modulo 4G"
              >{{$if.DropsOut}}</span
            >,<span title="Total errors In modulo 4G"
              >{{$if.ErrorsIn}}</span
            >/<span title="Total errors Out modulo 4G"
              >{{$if.ErrorsOut}}</span
            ></span
          > <span {{ClassAllZero $if.DeltaDropsIn $if.DeltaDropsOut $if.DeltaErrorsIn $if.DeltaErrorsOut "mutext"}}
            ><span title="Drops In per second"
              >{{$if.DeltaDropsIn}}</span
            ><span {{ClassNonNil $if.DeltaDropsOut "" "hidden"}}
              >/</span
            ><span {{ClassNonNil $if.DeltaDropsOut "" "hidden"}} title="Drops Out per second"
              >{{$if.DeltaDropsOut}}</span
            >,<span title="Errors In per second"
              >{{$if.DeltaErrorsIn}}</span
            >/<span title="Errors Out per second"
              >{{$if.DeltaErrorsOut}}</span
            ></span
          ></td
        ></tr
      >{{jsx `})}`}}{{end}}{{end}}</tbody
    ></table
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelmem"}}{{$p := .Data.Params}}<div {{ClassPositive $p.Memn "" "panel panel-default"}}
  ><div class="h4 padding-left-like-panel-heading"
    ><a {{HrefT $p $p.Memn}}
      >Memory</a
    ></div
  ><ul  {{ClassPositive $p.Memn "hidden" "list-group"}}
    ><li class="list-group-item text-nowrap th"
      ><ul class="list-inline"
        ><li
          ><span
            ><b
              >Delay</b
            > <span class="badge"
              >{{$p.Memd}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessD $p $p.Memd "btn btn-default"}}{{template "defines::alink_badgeright" MoreD $p $p.Memd "btn btn-default"}}</div
          ></li
        ><li
          ><span
            ><b
              >Rows</b
            > <span class="badge"
              >{{$p.Memn.Absolute}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessN $p $p.Memn "btn btn-default"}}{{template "defines::alink_badgeright" MoreN $p $p.Memn "btn btn-default"}}</div
          ></li
        ></ul
      ></li
    ></ul
  ><table {{ClassNonZero $p.Memn "table table-hover" "hidden"}}
    ><thead
      ><tr
        ><th
          ></th
        ><th class="text-right"
          >Free</th
        ><th class="text-right"
          >Use%</th
        ><th class="text-right"
          >Used</th
        ><th class="text-right"
          >Total</th
        ></tr
      ></thead
    ><tbody
      >{{if .Data.MEM}}{{range $mem := .Data.MEM.List}}{{jsx `{this.List(Data).map(function($mem) { return`}}<tr {{Key "mem-rowby-kind" $mem.Kind}}
        ><td
          >{{$mem.Kind}}</td
        ><td class="text-right"
          >{{$mem.Free}}</td
        ><td {{class}}="text-right bg-usepct"data-usepct={{$mem.UsePct}}
          >{{$mem.UsePct}}%</td
        ><td class="text-right"
          >{{$mem.Used}}</td
        ><td class="text-right"
          >{{$mem.Total}}</td
        ></tr
      >{{jsx `})}`}}{{end}}{{end}}</tbody
    ></table
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelps"}}{{$p := .Data.Params}}<div {{ClassPositive $p.Psn "" "panel panel-default"}}
  ><div class="h4 padding-left-like-panel-heading"
    ><a {{HrefT $p $p.Psn}}
      >Processes</a
    ></div
  ><ul  {{ClassPositive $p.Psn "hidden" "list-group"}}
    ><li class="list-group-item text-nowrap th"
      ><ul class="list-inline"
        ><li
          ><span
            ><b
              >Delay</b
            > <span class="badge"
              >{{$p.Psd}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessD $p $p.Psd "btn btn-default"}}{{template "defines::alink_badgeright" MoreD $p $p.Psd "btn btn-default"}}</div
          ></li
        ><li
          ><span
            ><b
              >Rows</b
            > <span class="badge"
              >{{$p.Psn.Absolute}}</span
            ></span
          > <div class="btn-group"
            >{{template "defines::alink_badgeleft" LessN $p $p.Psn "btn btn-default"}}{{template "defines::alink_badgeright" MoreN $p $p.Psn "btn btn-default"}}</div
          ></li
        ></ul
      ></li
    ></ul
  ><table {{ClassNonZero $p.Psn "table table-hover" "hidden"}}
    ><thead
      ><tr class="text-nowrap"
        >{{$r := "text-right"}}{{$c := "text-center"}}{{template "defines::thvlink" Vlink $p $p.Psk 1 "PID" $r}}{{template "defines::thvlink" Vlink $p $p.Psk 2 "UID" $r}}{{template "defines::thvlink" Vlink $p $p.Psk 3 "USER" ""}}{{template "defines::thvlink" Vlink $p $p.Psk 4 "PR" $r}}{{template "defines::thvlink" Vlink $p $p.Psk 5 "NI" $r}}{{template "defines::thvlink" Vlink $p $p.Psk 6 "VIRT" $r}}{{template "defines::thvlink" Vlink $p $p.Psk 7 "RES" $r}}{{template "defines::thvlink" Vlink $p $p.Psk 8 "TIME" $c}}{{template "defines::thvlink" Vlink $p $p.Psk 9 "COMMAND" ""}}</tr
      ></thead
    ><tbody
      >{{if .Data.PS}}{{range $ps := .Data.PS.List}}{{jsx `{this.List(Data).map(function($ps) { return`}}<tr {{Key "ps-rowby-pid" $ps.PID}}
        ><td class="text-right"
          > {{$ps.PID}}</td
        ><td class="text-right"
          > {{$ps.UID}}</td
        ><td
          >{{$ps.User}}</td
        ><td class="text-right"
          > {{$ps.Priority}}</td
        ><td class="text-right"
          > {{$ps.Nice}}</td
        ><td class="text-right"
          > {{$ps.Size}}</td
        ><td class="text-right"
          > {{$ps.Resident}}</td
        ><td class="text-center"
          >{{$ps.Time}}</td
        ><td
          >{{$ps.Name}}</td
        ></tr
      >{{jsx `})}`}}{{end}}{{end}}</tbody
    ></table
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_spanla"}}<span
  >{{.Data.LA}}</span
>{{end}}{{/*
*/}}{{define "defines::define_spanup"}}<span
  >{{.Data.UP}}</span
>{{end}}{{/*
*/}}{{define "defines::thvlink"}}<th {{class}}="header {{.AlignClass}}"
  ><a href={{.LinkHref}} {{class}}={{.LinkClass}} onClick={this.handleClick}  
    >{{.LinkText}}<span {{class}}={{.CaretClass}}
      ></span
    ></a
  ></th
>{{end}}