<!DOCTYPE html
><html
  ><head
    ><meta charset="utf-8"
    ><meta http-equiv="X-UA-Compatible" content="IE=edge"
    ><meta name="viewport" content="width=device-width, initial-scale=1"
    ><title
      >{{.Data.Hostname}} ostent</title
    ><link rel="icon" type="image/png" href="/favicon.png"
    ><link rel="stylesheet" type="text/css" href="/css/index.css"
    ><script type="text/javascript" charset="utf-8" src="/js/requirejs/2.1.18/require.min.js" data-main="/js/{{if .TAGGEDbin}}min/index.min.js{{else}}src/milk/index.js{{end}}"
      ></script
    ></head
  ><body
    ><nav class="navbar navbar-default navbar-fixed-top" role="navigation"
      ><div class="container-fluid"
        ><div class="dropdown navbar-header"
          ><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            ><span class="sr-only"
              >Toggle navigation</span
            ><span class="icon-bar"
              ></span
            ><span class="icon-bar"
              ></span
            ><span class="icon-bar"
              ></span
            ></button
          ><a id="dropdownbrand" class="dropdown-toggle navbar-brand" data-toggle="dropdown" aria-expanded="true" href="/"
            ><div id="hostname"
              >{{.Data.Hostname}}</div
            ></a
          ><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownbrand"
            ><li class="dropdown-header" role="presentation"
              >running</li
            ><li role="presentation"
              ><a class="dropdown-text"
                >{{.Data.DISTRIB}}</a
              ></li
            ></ul
          ></div
        ><div id="navbar-collapse" class="collapse navbar-collapse"
          ><ul class="nav navbar-nav"
            ><li id="ip" class="navbar-text"
              >{{.Data.IP}}</li
            ><li class="dropdown"
              ><div id="dropdownla" class="navbar-text dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                ><div id="la"
                  >{{.Data.LA}}</div
                ></div
              ><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownla"
                ><li class="dropdown-header" role="presentation"
                  >uptime</li
                ><li role="presentation"
                  ><a id="uptime" class="dropdown-text"
                    >{{.Data.Uptime}}</a
                  ></li
                ></ul
              ></li
            ></ul
          ><ul class="nav navbar-nav navbar-right"
            ><li class="navbar-text"
              ><ul class="list-inline navbar-nav"
                ><li
                  ><a href="#top"
                    >#top</a
                  ></li
                ><li
                  ><a href="#ps"
                    >#ps</a
                  ></li
                ><li
                  ><a href="#vg"
                    >#vagrant</a
                  ></li
                ></ul
              ></li
            ><li class="dropdown active"
              ><a id="dropdownversion" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="https://www.ostrost.com/ostent/releases/latest"
                >OSTENT</a
              ><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownversion"
                ><li class="dropdown-header" role="presentation"
                  >version</li
                ><li role="presentation"
                  ><a href="https://www.ostrost.com/ostent/releases/latest"
                    >{{.Data.VERSION}}</a
                  ></li
                ></ul
              ></li
            ></ul
          ></div
        ></div
      ></nav
    ><div id="top" class="container-fluid padding-topseventysh"
      ><div class="row"
        ><div id="mem-table" class="block col-md-2 col-md-offset-1"
          >{{template "defines::define_panelmem" .}}</div
        ><div id="if-table" class="block col-md-3"
          >{{template "defines::define_panelif" .}}</div
        ><div id="cpu-table" class="block col-md-2"
          >{{template "defines::define_panelcpu" .}}</div
        ><div id="df-table" class="block col-md-3"
          >{{template "defines::define_paneldf" .}}</div
        ></div
      ></div
    ><div class="container-fluid"
      ><div class="row"
        ><div id="ps-table" class="block col-md-8 col-md-offset-2"
          >{{template "defines::define_panelps" .}}</div
        ></div
      ></div
    ><div class="container-fluid"
      ><div class="row"
        ><div id="vg-table" class="block col-md-8 col-md-offset-2"
          >{{template "defines::define_panelvg" .}}</div
        ></div
      ></div
    ><script type="text/javascript"
      >var Data = {{.Data}};</script
    ></body
  ></html
>{{/*
*/}}{{define "defines::adroplink"}}<a href={{.Href}} onClick={this.handleClick}
  >{{.Text}}</a
>{{end}}{{/*
*/}}{{define "defines::define_clip"}}<input {{.IDAttr}}  {{class}}="collapse-checkbox" type="checkbox" aria-hidden="true" hidden
>{{jsxClose "input"}}<label {{.ForAttr}} {{class}}="clip" {{.MWStyleAttr}}
  >{{.Text}}</label
>{{end}}{{/*
*/}}{{define "defines::define_cpurows"}}{{with rowsset .}}{{.}}{{else}}{{range $i, $core := .Data.CPU.List}}<tr {{$core.N.KeyAttr "cpu-rowby-N"}}
  ><td class="text-right nowrap"
    >{{$core.N}}</td
  ><td class="text-right"
    ><span {{class}}="usepercent-text" data-usepercent={{$core.User}}
      >{{$core.User}}</span
    ></td
  ><td class="text-right"
    ><span {{class}}="usepercent-text" data-usepercent={{$core.Sys}}
      >{{$core.Sys}}</span
    ></td
  ><td class="text-right"
    ><span {{class}}="usepercent-text-inverse" data-usepercent={{$core.Idle}}
      >{{$core.Idle}}</span
    ></td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_cputable"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      ><th
        ></th
      ><th class="text-right nowrap"
        >User<span class="unit"
          >%</span
        ></th
      ><th class="text-right nowrap"
        >Sys<span class="unit"
          >%</span
        ></th
      ><th class="text-right nowrap"
        >Idle<span class="unit"
          >%</span
        ></th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_cpurows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_dfbytes_rows"}}{{with rowsset .}}{{.}}{{else}}{{range $disk := .Data.DFbytes.List}}<tr {{$disk.DirName.KeyAttr "dfbytes-rowby-dirname"}}
  ><td class="nowrap"
    >{{template "defines::define_clip" ($disk.DevName.Clip 12 "df-bytes-devname")}}</td
  ><td class="nowrap"
    >{{template "defines::define_clip" ($disk.DirName.Clip 6 "df-bytes-dirname")}}</td
  ><td class="text-right"
    >{{$disk.Avail}}</td
  ><td class="text-right"
    >{{$disk.Used}}&nbsp;{{template "defines::define_usepercent" $disk.UsePercent}}</td
  ><td class="text-right"
    >{{$disk.Total}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_dfbytes_table"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      >{{template "defines::thdroplink" droplink .Data.Params.ENUM.df "FS" ""}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.df "MP" ""}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.df "AVAIL"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.df "USED"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.df "TOTAL"}}</tr
    ></thead
  ><tbody
    >{{template "defines::define_dfbytes_rows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_dfinodes_rows"}}{{with rowsset .}}{{.}}{{else}}{{range $disk := .Data.DFinodes.List}}<tr {{$disk.DirName.KeyAttr "dfinodes-rowby-dirname"}}
  ><td class="nowrap"
    >{{template "defines::define_clip" ($disk.DevName.Clip 12 "df-inodes-devname")}}</td
  ><td class="nowrap"
    >{{template "defines::define_clip" ($disk.DirName.Clip 6 "df-inodes-devname")}}</td
  ><td class="text-right"
    >{{$disk.Ifree}}</td
  ><td class="text-right"
    >{{$disk.Iused}}&nbsp;{{template "defines::define_usepercent" $disk.IusePercent}}</td
  ><td class="text-right"
    >{{$disk.Inodes}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_dfinodes_table"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      ><th class="header"
        >Device</th
      ><th class="header"
        >Mounted</th
      ><th class="header text-right"
        >Avail</th
      ><th class="header text-right"
        >Used</th
      ><th class="header text-right"
        >Total</th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_dfinodes_rows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_ifbytes_rows"}}{{with rowsset .}}{{.}}{{else}}{{range $if := .Data.IFbytes.List}}<tr {{$if.Name.KeyAttr "ifbytes-rowby-name"}}
  ><td
    >{{template "defines::define_clip" ($if.Name.Clip 12 "if-bytes-name")}}</td
  ><td class="text-right"
    >{{$if.DeltaIn}}</td
  ><td class="text-right"
    >{{$if.DeltaOut}}</td
  ><td class="text-right"
    >{{$if.In}}</td
  ><td class="text-right"
    >{{$if.Out}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_ifbytes_table"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      ><th
        >Interface</th
      ><th class="text-right nowrap" title="BITS per second"
        >In<span class="unit"
          ><i
            >b</i
          >ps</span
        ></th
      ><th class="text-right nowrap" title="BITS per second"
        >Out<span class="unit"
          ><i
            >b</i
          >ps</span
        ></th
      ><th class="text-right nowrap" title="total BYTES modulo 4G"
        >In<span class="unit"
          ><i
            >B</i
          >%4G</span
        ></th
      ><th class="text-right nowrap" title="total BYTES modulo 4G"
        >Out<span class="unit"
          ><i
            >B</i
          >%4G</span
        ></th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_ifbytes_rows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_iferrors_rows"}}{{with rowsset .}}{{.}}{{else}}{{range $if := .Data.IFerrors.List}}<tr {{$if.Name.KeyAttr "iferrors-rowby-name"}}
  ><td
    >{{template "defines::define_clip" ($if.Name.Clip 12 "if-errors-name")}}</td
  ><td class="text-right"
    >{{$if.DeltaIn}}</td
  ><td class="text-right"
    >{{$if.DeltaOut}}</td
  ><td class="text-right"
    >{{$if.In}}</td
  ><td class="text-right"
    >{{$if.Out}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_iferrors_table"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      ><th
        >Interface</th
      ><th class="text-right nowrap" title="per second"
        >In&nbsp;<span class="unit"
          >ps</span
        ></th
      ><th class="text-right nowrap" title="per second"
        >Out&nbsp;<span class="unit"
          >ps</span
        ></th
      ><th class="text-right nowrap" title="modulo 4G"
        >In&nbsp;<span class="unit"
          >%4G</span
        ></th
      ><th class="text-right nowrap" title="modulo 4G"
        >Out&nbsp;<span class="unit"
          >%4G</span
        ></th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_iferrors_rows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_ifpackets_rows"}}{{with rowsset .}}{{.}}{{else}}{{range $if := .Data.IFpackets.List}}<tr {{$if.Name.KeyAttr "ifpackets-rowby-name"}}
  ><td
    >{{template "defines::define_clip" ($if.Name.Clip 12 "if-packets-name")}}</td
  ><td class="text-right"
    >{{$if.DeltaIn}}</td
  ><td class="text-right"
    >{{$if.DeltaOut}}</td
  ><td class="text-right"
    >{{$if.In}}</td
  ><td class="text-right"
    >{{$if.Out}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_ifpackets_table"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      ><th
        >Interface</th
      ><th class="text-right nowrap" title="per second"
        >In&nbsp;<span class="unit"
          >ps</span
        ></th
      ><th class="text-right nowrap" title="per second"
        >Out&nbsp;<span class="unit"
          >ps</span
        ></th
      ><th class="text-right nowrap" title="total modulo 4G"
        >In&nbsp;<span class="unit"
          >%4G</span
        ></th
      ><th class="text-right nowrap" title="total modulo 4G"
        >Out&nbsp;<span class="unit"
          >%4G</span
        ></th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_ifpackets_rows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_memrows"}}{{with rowsset .}}{{.}}{{else}}{{range $i, $mem := .Data.MEM.List}}<tr {{$mem.Kind.KeyAttr "mem-rowby-kind"}}
  ><td
    >{{$mem.Kind}}</td
  ><td class="text-right"
    >{{$mem.Free}}</td
  ><td class="text-right"
    >{{$mem.Used}}&nbsp;{{template "defines::define_usepercent" $mem.UsePercent}}</td
  ><td class="text-right"
    >{{$mem.Total}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_memtable"}}<table class="table1 stripe-table"
  ><thead
    ><tr
      ><th
        ></th
      ><th class="text-right"
        >Free</th
      ><th class="text-right"
        >Used</th
      ><th class="text-right"
        >Total</th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_memrows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_panelcpu"}}<div class="panel1"
  ><label class="panel-heading btn-block"
    ><a {{.Data.Params.BOOL.configcpu.BoolParamClassAttr "btn-header-block active" "btn-header-block"}} {{.Data.Params.BOOL.configcpu.ToggleHrefAttr}}
      >CPU</a
    ></label
  ><div
    ><div id="cpuconfig" {{.Data.Params.BOOL.configcpu.BoolParamClassAttr "" "collapse-hidden"}}
      ><form {{class}}="horizontal-form border-bottom-form" {{.Data.Params.Query.FormActionAttr}}
        ><input class="hidden-submit" type="submit"
        ><div class="form-group-padded"
          ><div class="btn-group btn-group-sm" role="group"
            ><a {{.Data.Params.BOOL.hidecpu.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hidecpu.ToggleHrefAttr}}
              >Hidden</a
            ><a {{.Data.CPU.ExpandableCPU.BoolClassAttr "" "disabled" "btn btn-default"}} {{.Data.Params.BOOL.expandcpu.ToggleHrefAttr}}
              >{{.Data.CPU.ExpandtextCPU}}</a
            ></div
          ></div
        ><div class="form-group-padded"
          >{{template "defines::define_refresh" .Data.Params.PERIOD.refreshcpu}}</div
        ></form
      ></div
    ></div
  ><div
    ><div {{.Data.Params.BOOL.hidecpu.BoolParamClassAttr "collapse-hidden"}}
      >{{template "defines::define_cputable" .}}</div
    ></div
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_paneldf"}}<div class="panel1"
  ><label class="panel-heading btn-block"
    ><a {{.Data.Params.BOOL.configdf.BoolParamClassAttr "btn-header-block active" "btn-header-block"}} {{.Data.Params.BOOL.configdf.ToggleHrefAttr}}
      >{{.Data.Params.ENUM.dft.Title}}</a
    ></label
  ><div
    ><div id="dfconfig" {{.Data.Params.BOOL.configdf.BoolParamClassAttr "" "collapse-hidden"}}
      ><form {{class}}="horizontal-form" {{.Data.Params.Query.FormActionAttr}}
        ><input class="hidden-submit" type="submit"
        ><div class="form-group-padded"
          ><div class="btn-group btn-group-sm" role="group"
            ><a {{.Data.Params.BOOL.hidedf.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hidedf.ToggleHrefAttr}}
              >Hidden</a
            ><a {{.Data.ExpandableDF.BoolClassAttr "" "disabled" "btn btn-default"}} {{.Data.Params.BOOL.expanddf.ToggleHrefAttr}}
              >{{.Data.ExpandtextDF}}</a
            ></div
          ></div
        ><div class="form-group-padded"
          >{{template "defines::define_refresh" .Data.Params.PERIOD.refreshdf}}</div
        ></form
      ><ul class="nav nav-tabs"
        ><li {{.Data.Params.ENUM.dft.EnumClassAttr "INODES" "active"}}
          >{{template "defines::adroplink" droplink .Data.Params.ENUM.dft "INODES"}}</li
        ><li {{.Data.Params.ENUM.dft.EnumClassAttr "DFBYTES" "active"}}
          >{{template "defines::adroplink" droplink .Data.Params.ENUM.dft "DFBYTES"}}</li
        ></ul
      ></div
    ></div
  ><div
    ><div {{.Data.Params.BOOL.hidedf.BoolParamClassAttr "collapse-hidden"}}
      ><div {{.Data.Params.ENUM.dft.EnumClassAttr "INODES" "" "collapse-hidden"}}
        >{{template "defines::define_dfinodes_table" .}}</div
      ><div {{.Data.Params.ENUM.dft.EnumClassAttr "DFBYTES" "" "collapse-hidden"}}
        >{{template "defines::define_dfbytes_table" .}}</div
      ></div
    ></div
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelif"}}<div class="panel1"
  ><label class="panel-heading btn-block"
    ><a {{.Data.Params.BOOL.configif.BoolParamClassAttr "btn-header-block active" "btn-header-block"}} {{.Data.Params.BOOL.configif.ToggleHrefAttr}}
      >{{.Data.Params.ENUM.ift.Title}}</a
    ></label
  ><div
    ><div id="ifconfig" {{.Data.Params.BOOL.configif.BoolParamClassAttr "" "collapse-hidden"}}
      ><form {{class}}="horizontal-form" {{.Data.Params.Query.FormActionAttr}}
        ><input class="hidden-submit" type="submit"
        ><div class="form-group-padded"
          ><div class="btn-group btn-group-sm" role="group"
            ><a {{.Data.Params.BOOL.hideif.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hideif.ToggleHrefAttr}}
              >Hidden</a
            ><a {{.Data.ExpandableIF.BoolClassAttr "" "disabled" "btn btn-default"}} {{.Data.Params.BOOL.expandif.ToggleHrefAttr}}
              >{{.Data.ExpandtextIF}}</a
            ></div
          ></div
        ><div class="form-group-padded"
          >{{template "defines::define_refresh" .Data.Params.PERIOD.refreshif}}</div
        ></form
      ><ul class="nav nav-tabs"
        ><li {{.Data.Params.ENUM.ift.EnumClassAttr "PACKETS" "active"}}
          >{{template "defines::adroplink" droplink .Data.Params.ENUM.ift "PACKETS"}}</li
        ><li {{.Data.Params.ENUM.ift.EnumClassAttr "ERRORS" "active"}}
          >{{template "defines::adroplink" droplink .Data.Params.ENUM.ift "ERRORS"}}</li
        ><li {{.Data.Params.ENUM.ift.EnumClassAttr "IFBYTES" "active"}}
          >{{template "defines::adroplink" droplink .Data.Params.ENUM.ift "IFBYTES"}}</li
        ></ul
      ></div
    ></div
  ><div
    ><div {{.Data.Params.BOOL.hideif.BoolParamClassAttr "collapse-hidden"}}
      ><div {{.Data.Params.ENUM.ift.EnumClassAttr "PACKETS" "" "collapse-hidden"}}
        >{{template "defines::define_ifpackets_table" .}}</div
      ><div {{.Data.Params.ENUM.ift.EnumClassAttr "ERRORS" "" "collapse-hidden"}}
        >{{template "defines::define_iferrors_table" .}}</div
      ><div {{.Data.Params.ENUM.ift.EnumClassAttr "IFBYTES" "" "collapse-hidden"}}
        >{{template "defines::define_ifbytes_table" .}}</div
      ></div
    ></div
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelmem"}}<div class="panel1"
  ><label class="panel-heading btn-block"
    ><a {{.Data.Params.BOOL.configmem.BoolParamClassAttr "btn-header-block active" "btn-header-block"}} {{.Data.Params.BOOL.configmem.ToggleHrefAttr}}
      >Memory</a
    ></label
  ><div
    ><div id="memconfig" {{.Data.Params.BOOL.configmem.BoolParamClassAttr "" "collapse-hidden"}}
      ><form {{class}}="horizontal-form border-bottom-form" {{.Data.Params.Query.FormActionAttr}}
        ><input class="hidden-submit" type="submit"
        ><div class="form-group-padded"
          ><div class="btn-group btn-group-sm" role="group"
            ><a {{.Data.Params.BOOL.hidemem.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hidemem.ToggleHrefAttr}}
              >Hidden</a
            ><a {{.Data.Params.BOOL.hideswap.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hideswap.ToggleHrefAttr}} {{.Data.Params.BOOL.hidemem.DisabledAttr}}
              >Hide swap</a
            ></div
          ></div
        ><div class="form-group-padded"
          >{{template "defines::define_refresh" .Data.Params.PERIOD.refreshmem}}</div
        ></form
      ></div
    ></div
  ><div
    ><div {{.Data.Params.BOOL.hidemem.BoolParamClassAttr "collapse-hidden"}}
      >{{template "defines::define_memtable" .}}</div
    ></div
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelps"}}<div class="panel1"
  ><label class="panel-heading btn-block"
    ><a {{.Data.Params.BOOL.configps.BoolParamClassAttr "btn-header-block active" "btn-header-block"}} {{.Data.Params.BOOL.configps.ToggleHrefAttr}}
      >Processes</a
    ></label
  ><div
    ><div id="psconfig" {{.Data.Params.BOOL.configps.BoolParamClassAttr "" "collapse-hidden"}}
      ><form {{class}}="inline-form border-bottom-form text-right" {{.Data.Params.Query.FormActionAttr}}
        ><input class="hidden-submit" type="submit"
        ><div class="form-group-padded"
          >{{template "defines::define_refresh" .Data.Params.PERIOD.refreshps}}</div
        ><div class="form-group-padded"
          ><div class="btn-group btn-group-sm" role="group"
            ><a {{.Data.Params.BOOL.hideps.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hideps.ToggleHrefAttr}}
              >Hidden</a
            ><a {{.Data.PStable.PSnotDecreasable.BoolClassAttr "disabled" "" "btn btn-default"}} {{.Data.Params.LIMIT.psn.LessHrefAttr}}
              >-</a
            ><a {{.Data.PStable.PSnotExpandable.BoolClassAttr "disabled" "" "btn btn-default"}} {{.Data.Params.LIMIT.psn.MoreHrefAttr}}
              >{{.Data.PStable.PSplusText}}</a
            ></div
          ></div
        ></form
      ></div
    ></div
  ><div
    ><div {{.Data.Params.BOOL.hideps.BoolParamClassAttr "collapse-hidden"}}
      >{{template "defines::define_pstable" .}}</div
    ></div
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_panelvg"}}<div class="panel1"
  ><label class="panel-heading btn-block"
    ><a {{.Data.Params.BOOL.configvg.BoolParamClassAttr "btn-header-block active" "btn-header-block"}} {{.Data.Params.BOOL.configvg.ToggleHrefAttr}}
      >Vagrant global-status</a
    ></label
  ><div
    ><div id="vgconfig" {{.Data.Params.BOOL.configvg.BoolParamClassAttr "" "collapse-hidden"}}
      ><form {{class}}="inline-form border-bottom-form text-right" {{.Data.Params.Query.FormActionAttr}}
        ><input class="hidden-submit" type="submit"
        ><div class="form-group-padded"
          >{{template "defines::define_refresh" .Data.Params.PERIOD.refreshvg}}</div
        ><div class="form-group-padded"
          ><div class="btn-group btn-group-sm" role="group"
            ><a {{.Data.Params.BOOL.hidevg.BoolParamClassAttr "active" "" "btn btn-default"}} {{.Data.Params.BOOL.hidevg.ToggleHrefAttr}}
              >Hidden</a
            ></div
          ></div
        ></form
      ></div
    ></div
  ><div
    ><div {{.Data.Params.BOOL.hidevg.BoolParamClassAttr "collapse-hidden"}}
      >{{template "defines::define_vgtable" .}}</div
    ></div
  ></div
>{{end}}{{/*
*/}}{{define "defines::define_psrows"}}{{with rowsset .}}{{.}}{{else}}{{range $proc := .Data.PStable.List}}<tr {{$proc.PIDstring.KeyAttr "ps-rowby-pid"}}
  ><td class="text-right"
    > {{$proc.PID}}</td
  ><td class="text-right"
    > {{$proc.UID}}</td
  ><td
    >            {{template "defines::define_clip" ($proc.User.Clip 12 "psuser-pid" $proc.PIDstring)}}</td
  ><td class="text-right"
    > {{$proc.Priority}}</td
  ><td class="text-right"
    > {{$proc.Nice}}</td
  ><td class="text-right"
    > {{$proc.Size}}</td
  ><td class="text-right"
    > {{$proc.Resident}}</td
  ><td class="text-center"
    >{{$proc.Time}}</td
  ><td class="nowrap"
    >     {{template "defines::define_clip" ($proc.Name.Clip 42 "psname-pid" $proc.PIDstring)}}</td
  ></tr
>{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_pstable"}}<table class="table2 stripe-table"
  ><thead
    ><tr
      >{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "PID"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "UID"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "USER" ""}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "PRI"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "NICE"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "VIRT"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "RES"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "TIME" "center"}}{{template "defines::thdroplink" droplink .Data.Params.ENUM.ps "NAME" ""}}</tr
    ></thead
  ><tbody
    >{{template "defines::define_psrows" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::define_refresh"}}<div {{.RefreshClassAttr "input-group input-group-sm refresh-group"}}
  ><span class="input-group-addon"
    >Refresh</span
  ><input {{class}}="form-control refresh-input" type="text" placeholder={{.Placeholder}} {{.PeriodNameAttr}} {{.PeriodValueAttr}}
  >{{jsxClose "input"}}</div
>{{end}}{{/*
*/}}{{define "defines::define_usepercent"}}<sup
  ><span {{class}}="label" data-usepercent={{.}}
    >{{.}}%</span
  ></sup
>{{end}}{{/*
*/}}{{define "defines::define_vgerror"}}<tr key="vgerror"
  ><td {{colspan}}="5"
    >{{.Data.VagrantError}}</td
  ></tr
>{{end}}{{/*
*/}}{{define "defines::define_vgrows"}}{{range $mach := .Data.VagrantMachines.List}}<tr {{$mach.UUID.KeyAttr "vagrant-rowby-uuid"}}
  ><td
    >       {{template "defines::define_clip" ($mach.UUID.Clip 7 "vagrant-uuid")}}</td
  ><td
    >       {{$mach.Name}}</td
  ><td
    >       {{$mach.Provider}}</td
  ><td
    >       {{template "defines::define_clip" ($mach.State.Clip 8 "vagrant-state" $mach.UUID)}}</td
  ><td
    >       {{template "defines::define_clip" ($mach.Vagrantfile_path.Clip 50 "vagrant-filepath" $mach.UUID)}}</td
  ></tr
>{{end}}{{end}}{{/*
*/}}{{define "defines::define_vgswitch"}}{{with rowsset .}}{{.}}{{else}}{{if eq .Data.VagrantErrord true}}{{template "defines::define_vgerror" .}}{{else}}{{template "defines::define_vgrows" .}}{{end}}{{end}}{{end}}{{/*
*/}}{{define "defines::define_vgtable"}}<table id="vgtable" class="table1 stripe-table"
  ><thead
    ><tr
      ><th
        >id</th
      ><th
        >name</th
      ><th
        >provider</th
      ><th
        >state</th
      ><th
        >directory</th
      ></tr
    ></thead
  ><tbody
    >{{template "defines::define_vgswitch" .}}</tbody
  ></table
>{{end}}{{/*
*/}}{{define "defines::thdroplink"}}<th {{class}}="header {{.AlignClass}}"
  ><a href={{.Href}} {{class}}={{.Class}}
    >{{.Text}}<span {{class}}={{.CaretClass}}
      ></span
    ></a
  ></th
>{{end}}